# Mobilithek subscriptions
# Primary subscription
MOBILITHEK_SUBSCRIPTION_ID=1024488922196914176
# Additional subscription
MOBILITHEK_SUBSCRIPTION_ID_2=1024488211727953920
# Additional subscription
MOBILITHEK_SUBSCRIPTION_ID_3=1024488922196914176
MOBILITHEK_SUBSCRIPTION_URL=https://mobilithek.info:8443/mobilithek/api/v1.0/container/subscription
# Only if required by the Mobilithek subscription:
# MOBILITHEK_TOKEN=
